*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card-1{
    width: 250px;
    height: 350px;
    box-shadow: 2px 2px 10px rgba(176, 0, 0, 0.2);
    position: relative;
    margin: 5px;
}
.card-1:hover{
    box-shadow: 2px 2px 15px rgba(176, 0, 0, 0.4);
    transition: 0.3s;
}
.card-content{
    padding: 10px;
}
h2{
    color: tomato;
}
img{
    width: 100%;
    height: 200px;
}
.btn{
    padding: 10px 15px;
    background-color: tomato;
    color: whitesmoke;
    border: none;
    margin: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    text-decoration: none;
}
.btn:hover{
    background-color: white;
    color: tomato;
    transition: 0.3s;
    border: .5px solid tomato;
}   